body {
  /* background-image: url('../images/bg.jpg'); */
  background-color:black;
  margin:0;
}

.top {
  background-color: black;
  color:white;
  padding-top:30px;
  margin: 0 auto;
  margin-top: 0px;
  margin-bottom:10px;
}

.center {
  background-color: gray;
  color:black;
  padding: 0px;
  width: clamp(400px, 60%, 760px);
  margin: 0px auto;          
  margin-bottom:100px;
}

/* .flex {
  display: flex;
  align-items: center;     
  justify-content: center;
  gap: 30px;  
} */

.comic-page {
  width:100%;
  height:auto;
  border-color:black; 
}

.top img {
  width:50%;
  height:auto;
  display: block;
  margin: 0 auto;
  min-width: 360px;
}

.arrow {
  width:5%;
}

.notes {
  margin: 0 auto;
}

.menu {
  display: flex;
  align-items: center;     
  justify-content: center;
  gap: 32px; 
  color:beige;
  margin-top:18px;
  margin-bottom:5px;
  background-color:rgb(125, 125, 125);
  height:40px;
}

h2 {
  display: block;
  font-size: 1.25em;
}

@media (max-width: 900px) {
  .menu {
    font-size: .9em;
  }
}

.page-select {
  align-items: center;
  justify-content: center;
  gap: 20px; 
  display: flex;
  margin: 0 auto;
  margin-top: 5px;
  height:50px;
}

.btn {
  height:40px;
  width:60px;
  font-size:1.5em;
}

.select {
  height:24px;
  width: 250px;
  font-size:1em;
}

/*phone dimensions*/
@media (max-width: 400px) {
  .center {
    width: 100%;
    margin:0;
  }
  .top img {
    width:70%;
  }
  .top {
    margin-top: 0px;
    margin-bottom:0px;
  }
  h2 {
    font-size: 1em;
  }
  .btn {
    height:30px;
    width:40px;
    font-size:1.3em;
  }
  .select {
    height:20px;
    width: 200px;
    font-size:.8em;
  }
}